* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}

nav {
  height: 180px;
  width: 100%;
}
nav h1 {
  font-family: "Bungee Shade", cursive;
  padding-left: 34px;
  font-size: 50px;
  height: 95px;
}
nav #site-links ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
nav #site-links ul li {
  list-style: none;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

#result {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
#result img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
#result h3 {
  margin: 10px 0 5px 0;
}
#result p {
  margin-bottom: 5px;
}
#result i {
  margin-left: 8px;
}
#result i:hover {
  cursor: pointer;
}
#result .result-container {
  overflow: hidden;
  width: 93%;
  height: 347px;
  padding: 60px 15px;
}
#result .result-container .modal-container {
  display: none;
}
#result .result-container:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #BEF6C9;
}
#result .result-container:nth-child(2) {
  background-color: #A18AFF;
}
#result .result-container:nth-child(3) {
  background-color: #FF84CB;
}
#result .result-container:nth-child(5) {
  background-color: #C4FBF6;
}
#result .result-container:nth-child(6) {
  background-color: #FFF595;
}
#result .result-container:nth-child(7) {
  background-color: #FF84CB;
}
#result .result-container:nth-child(9) {
  background-color: #A18AFF;
}
#result .result-container:nth-child(10) {
  background-color: #BEF6C9;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
  }
  nav {
    height: 100%;
    width: 275px;
  }
  nav #site-links ul {
    display: inline;
  }
  nav #site-links ul li {
    list-style: none;
    font-size: 35px;
  }
  #result .result-container {
    width: 96%;
    padding: 45px 15px;
  }
  #result .result-container:first-child {
    grid-row: 1/2;
  }
}
@media only screen and (min-width: 1024px) {
  #result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  #result .result-container {
    overflow: hidden;
    width: 90%;
    height: 550px;
    padding: 50px 30px;
  }
}
@media only screen and (min-width: 1920px) {
  nav {
    width: 263px;
  }
  nav #site-links ul li {
    font-size: 40px;
  }
  #result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  #result .result-container {
    overflow: hidden;
    width: 90%;
    height: 550px;
    padding: 90px 30px;
  }
  #result .result-container:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #result .result-container:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #result .result-container:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #result .result-container:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #result .result-container:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #result .result-container:nth-child(6) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #result .result-container:nth-child(7) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #result .result-container:nth-child(8) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #result .result-container:nth-child(9) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}/*# sourceMappingURL=style.css.map */