footer {
  background-color: white;
  padding: 40px;
}

footer .footer-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer .footer-main-container .link-container {
  width: 50%;
  text-align: center;
}

footer .footer-main-container .link-container .footer-links-main {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

footer .footer-main-container .link-container .footer-links-main:hover {
  color: #FF84CB;
}

footer .footer-main-container .link-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 14px;
}

footer .footer-main-container .link-container ul .footer-links {
  cursor: pointer;
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
}

footer .footer-main-container .subscribe-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

footer .footer-main-container .subscribe-container .subscribe-header {
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

footer .footer-main-container .subscribe-container .subscribe-header:hover {
  color: #FF84CB;
}

footer .footer-main-container .subscribe-container .input-container {
  margin-top: 10px;
}

footer .footer-main-container .subscribe-container .input-container input {
  padding: 6px;
  font-family: "Jost", sans-serif;
  width: 65%;
  border-radius: 6px;
  border: 1px solid black;
}

footer .footer-main-container .subscribe-container .input-container button {
  padding: 6px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  font-family: "Jost", sans-serif;
  transition: all 0.3s ease-in-out;
}

footer .footer-main-container .subscribe-container .input-container button:hover {
  background-color: #FF84CB;
}

footer .footer-main-container .subscribe-container .socials-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer .footer-main-container .subscribe-container .socials-container i {
  cursor: pointer;
  font-size: 25px;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
}

footer .footer-main-container .subscribe-container .socials-container .bi-facebook:hover {
  color: #C4FBF6;
}

footer .footer-main-container .subscribe-container .socials-container .bi-instagram:hover {
  color: #FF84CB;
}

footer .footer-main-container .subscribe-container .socials-container .bi-twitter:hover {
  color: #A18AFF;
}

footer .footer-main-container .subscribe-container .socials-container .bi-linkedin:hover {
  color: #BEF6C9;
}

footer .footer-copyright-container {
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  footer {
    width: 100%;
    border-top: 1px solid black;
    padding: 40px 80px;
  }

  footer .footer-main-container {
    justify-content: space-between;
  }

  footer .footer-main-container .link-container {
    width: 20%;
    text-align: left;
  }

  footer .footer-main-container .subscribe-container {
    width: 50%;
    margin-top: 0;
    text-align: left;
  }

  footer .footer-main-container .subscribe-container .socials-container {
    margin-top: 30px;
    justify-content: flex-start;
  }

  footer .footer-copyright-container {
    margin-top: 50px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    padding: 50px 100px 40px 100px;
  }

  footer .footer-main-container {
    justify-content: center;
  }

  footer .footer-main-container .subscribe-container {
    width: 40%;
  }
}

.modal-container.open .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-container.open .modal-content h3 {
  font-size: 30px;
  font-family: "Bungee Shade", cursive;
  line-height: 45px;
  padding-bottom: 10px;
}

.modal-container.open .modal-content p {
  padding-bottom: 8px;
  font-size: 20px;
}

.modal-container.open .modal-content .bi-x {
  font-size: 20px;
  font-style: normal;
}

.modal-container.open .modal-content .bi-trash,
.modal-container.open .modal-content .bi-pencil-square {
  font-size: 25px;
}

#tools {
  display: none;
  color: #FFFFFF;
  background-color: #000000;
}

#tools #add-project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tools #add-project-form label {
  display: block;
  padding: 5px;
  font-size: 20px;
}

#tools #add-project-form input {
  display: block;
  border: none;
  height: 40px;
  width: 300px;
  padding: 2px;
}

#tools #add-project-form button {
  border: none;
  padding: 20px 67px;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  background-color: #FFFFFF;
  color: black;
}

#tools.active {
  display: block;
}

@media only screen and (min-width: 1024px) {
  #tools {
    display: none;
    position: absolute;
    top: 180px;
    left: 197px;
    width: 400px;
  }

  #tools #add-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #tools #add-project-form label {
    display: block;
    padding: 5px;
    font-size: 20px;
  }

  #tools #add-project-form input {
    display: block;
    border: none;
    height: 40px;
    width: 300px;
    padding: 2px;
  }

  #tools #add-project-form button {
    border: none;
    padding: 20px 67px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    background-color: #FFFFFF;
    color: black;
  }

  #tools.active {
    display: block;
  }
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about .section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
}

.about .section1 h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.about .section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #A18AFF;
  width: 100%;
}

.about .section2 .team {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.about .section2 .team h4 {
  font-size: 25px;
  text-transform: capitalize;
}

.about .section2 .team p {
  font-size: 20px;
  text-transform: capitalize;
}

.about .section2 .item1 {
  width: 100%;
  height: 100%;
  background-color: #FFF595;
}

.about .section2 .item2 {
  width: 100%;
  height: 100%;
  background-color: #C4FBF6;
}

.about .section2 .item3 {
  width: 100%;
  height: 100%;
  background-color: #FF84CB;
}

#editModal .modal-content {
  text-align: center;
}

#editModal .modal-content .modal-header .modal-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 28px;
}

#editModal .modal-content .modal-body img {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}

#editModal .modal-content .modal-body #projectForm {
  margin-top: 30px;
}

#editModal .modal-content .modal-body #projectForm label {
  font-size: 14px;
  margin-bottom: 5px;
}

#editModal .modal-content .modal-body #projectForm input {
  width: 90%;
  padding: 4px;
}

#editModal .modal-content .modal-footer #updateProject {
  color: black;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#editModal .modal-content .modal-footer #updateProject:hover {
  background-color: #FF84CB;
}

@media only screen and (min-width: 1024px) {
  #editModal .modal-content .modal-body #projectForm label {
    font-size: 17px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  padding-top: 80px;
}

.open {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
  height: 80px;
  width: 100%;
}

nav h1 {
  font-family: "Bungee Shade", cursive;
  padding-left: 34px;
  font-size: 50px;
  height: 95px;
}

nav #site-links ul {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav #site-links ul li {
  padding: 8px 0px;
  border-bottom: 5px #000000 solid;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  line-height: 60px;
  padding-left: 20px;
}

nav i {
  font-size: 50px;
  padding-right: 10px;
  cursor: pointer;
}

.drop_down_menu {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 98;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: #000000 3px solid;
  transition: all ease 0.5s;
  visibility: hidden;
}

.drop_down_menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.drop_down_menu ul li {
  width: 100%;
  list-style: none;
}

.drop_down_menu ul li a,
.drop_down_menu ul li i {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 0;
  font-size: 28px;
  font-weight: 600;
}

.drop_down_menu ul li a:hover,
.drop_down_menu ul li i:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.drop_down_menu.active {
  visibility: visible;
}

nav #tools {
  display: none;
}

#result {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

#result {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

#result img {
  object-fit: contain;
  width: 100%;
  height: 90%;
}

#result i:hover {
  cursor: pointer;
}

#result .modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
}

#result .modal-container.open {
  display: flex;
  justify-content: center;
}

#result .result-container {
  overflow: hidden;
  width: 93%;
  height: 347px;
  width: 93%;
  padding: 45px 15px;
  text-align: center;
}

.result-container {
  overflow: hidden;
  width: 93%;
  height: 347px;
  padding: 60px 15px;
  position: relative;
}

.result-container:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #BEF6C9;
}

.result-container:nth-child(2) {
  background-color: #A18AFF;
}

.result-container:nth-child(3) {
  background-color: #FF84CB;
}

.result-container:nth-child(5) {
  background-color: #C4FBF6;
}

.result-container:nth-child(6) {
  background-color: #FFF595;
}

.result-container:nth-child(7) {
  background-color: #FF84CB;
}

.result-container:nth-child(10) {
  background-color: #BEF6C9;
}

.result-container:nth-child(9) {
  background-color: #A18AFF;
}

.result-container:nth-child(10) {
  background-color: #BEF6C9;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }

  nav {
    height: 80px;
    width: 100%;
    padding: 0;
  }

  .drop_down_menu {
    top: 80px;
  }

  #result {
    width: 100%;
  }

  #result .result-container {
    width: 96%;
    padding: 45px 15px;
  }

  #result .result-container:first-child {
    grid-row: 1/2;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    height: 20%;
    width: 197px;
    padding: 0;
    border: none;
  }

  nav h1 {
    font-size: 50px;
  }

  nav i {
    font-size: 40px;
    display: none;
  }

  .drop_down_menu {
    top: 80px;
    visibility: visible;
    width: 197px;
    border: none;
  }

  .drop_down_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    padding-left: 197px;
  }

  #result .result-container {
    overflow: hidden;
    width: 90.5%;
    height: 550px;
    padding: 50px 36px;
  }
}

@media only screen and (min-width: 1920px) {
  nav {
    width: 263px;
  }

  .drop_down_menu {
    top: 80px;
    visibility: visible;
    width: 263px;
  }

  .drop_down_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-left: 263px;
  }

  #result .result-container {
    overflow: hidden;
    width: 90%;
    height: 550px;
    padding: 90px 30px;
  }

  #result .result-container:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #result .result-container:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #result .result-container:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  #result .result-container:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #result .result-container:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #result .result-container:nth-child(6) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  #result .result-container:nth-child(7) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #result .result-container:nth-child(8) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  #result .result-container:nth-child(9) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

/*# sourceMappingURL=style.css.map */