#tools {
    display: none;
    color: $white;
    // border-top: px solid $white;
    // border-bottom: 5px solid $white;
    background-color: $black;

    #add-project-form {
        @include flexCol;
        align-items: center;
        justify-content: center;

        label {
            display: block;
            padding: 5px;
            font-size: 20px;
        }

        input {
            display: block;
            border: none;
            height: 40px;
            padding: 2px;

        }

        button {
            border: none;
            padding: 20px 15px;
            font-size: 18px;
            font-weight: 600;
            margin: 20px 0;
            background-color: $white;
            color: black;
        }

    }
}

#tools.active {
    display: block;
}